<%- include('template/cabecera', {tituloWeb: 'Crear nueva mascota'}) %>

    <div class="container">

        <h1>Crear</h1>
        <form action="/animales" method="POST">
            <input type="text" name="nombre" placeholder="Agregar Nombre" class="form-control my-2" >
            <input type="text" name="descripcion" placeholder="Agregar Descripcion" class="form-control my-2" >
            <button class="btn btn-success btn-block" type="submit">Guardar Animal</button>
        </form>
    </div>

<%- include('template/floater') %>
